{% extends "base.html" %}

{% block head %} 

	<script type="text/javascript">
$(function(){
	$('input#name_search_submit').click(function(){
	window.location='/' + $('input#name_search').val();	
	});
	
})

	</script> 
 {% endblock  %}

{% block main %}

<div class="appspanel">




<div class="namepanel" style="text-align:center;">


<h1><a>Base-In-a-Case</a></h1>  

<h3>Because it should be easier to sync Google App Engine and Freebase.</h3>


</div>
<div id="search_control" style="position:absolute;margin:140px 170px;">
	<div id="prompt">Search any user name below....</div>
<input value="jamtoday" id="name_search"><input id="name_search_submit" type="submit" value="Continue">
</div>

</div>


{% endblock main %}

{% block login_status %}
{% endblock login_status %}
